.plans{
    display: flex;
    position: relative;
    background: rgba(255, 255, 255, 0.64);
    border-radius: 26px;
    padding: 40px 48px 40px 68px;
    animation: showPlans 3s;
    opacity: 1;
}

.plan_container{
    display: grid;
    grid-template-rows: auto max-content;
    width: 232px;
    margin-right: 34px;
}

.plan_popular_container{
    position: relative;
    width: 292px;
    height: 390px;
}

.plan_container:last-child{
    position: absolute;
    background: #231D4F;
    box-shadow: 0 42px 34px rgba(82, 67, 194, 0.295755);
    border-radius: 26px;
    padding: 20px 30px;
    width: 292px;
    right: 0;
    bottom: -20px;
    margin-right: 0;
}

.plan_container:last-child .choose_btn{
    background: #BB6BD9;
    transition: all 0.3s ease;
}

.plan_container:last-child .choose_btn:hover{
    background: #A847CC;
}

.plan_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    line-height: 22px;
    color: #848199;
}

.plan_popular_content{
    justify-self: end;
    background: #403879;
    padding: 7px 16px;
    border-radius: 13.5px;
    font-weight: 800;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.833333px;
}

.plan_price{
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #231D4F;
}

.plan_popular_container .plan_price{
    color: #fff;
}

.plan_price_container{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 20px;
}

.plan_price_container span{
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
}

.plan_title{
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #231D4F;
    margin-bottom: 10px;
}

.plan_description{
    margin-bottom: 14px;
}

.choose_btn{
    background: #231D4F;
    margin: 20px 0 0;
    transition: all 0.3s ease;
}

.plan_options li{
    position: relative;
    padding-left: 30px;
    margin: 8px 0;
}

.plan_options li:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: url("/assets/image/check-circle.png");
}

.plan_popular_content p{
    color: #BB6BD9;
}

.plan_container:last-child .plan_content > *{
    color: #fff;
}

@media screen and (max-width: 1080px) {
    .plans{
        padding: 32px 28px;
        flex-direction: column ;
    }

    .plan_container{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-bottom: 48px;
        padding: 20px;
    }

    .choose_btn{
        max-width: 232px;
    }

    .plan_container:last-child{
        position: relative;
        background: #231D4F;
        box-shadow: 0 42px 34px rgba(82, 67, 194, 0.295755);
        border-radius: 26px;
        padding: 20px 30px;
        width: 100%;
        margin-right: 0;
    }

    .plan_content{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .plan_popular_container{
        width: 100%;
        height: 474px;
    }

    .plan_popular_content{
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 600px) {
    .plans{
        padding: 8px;
        flex-direction: column ;
    }

    .plan_container{
        width: 100%;
        margin: 0;
    }

    .plan_content{
        display: flex;
        align-items: flex-start;
    }

    .choose_btn{
        max-width: 232px;
    }

    .plan_container:last-child{
        position: relative;
        background: #231D4F;
        box-shadow: 0 42px 34px rgba(82, 67, 194, 0.295755);
        border-radius: 26px;
        padding: 20px 20px;
        width: 100%;
        bottom: 0;
        margin-right: 0;
    }

    .plan_options li{
        margin: 5px 0;
    }
}
